{% extends 'base.html' %}


<main class="recipe-form">
    <form method="get">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="control">
            <button class="button">Create</button>
        </div>
    </form>
    <div>
        <h1>No tags, yet</h1>
        <p>
            Would you like to
            <a href="{% url 'tag_new' %}">create</a>
            one?
        </p>
    </div>
</main>