{% extends 'base.html' %}
{% load markdownify %}

{% block content %}
<main class="recipe-detail">
    <div>
        <a href="{% url 'meal_plans_edit' mealplan.id %}">Edit</a>
        <a href="{% url 'meal_plans_delete' mealplan.id %}">Delete</a>
    </div>
    {% if recipe.image %}
    <img src="{{ recipe.image }}" class="pull-right">
    {% endif %}
    <h1>{{ mealplan.name }}</h1>
    <h2>by: {{ mealplan.owner | default_if_none:"Unknown" }}</h2>
    <p>
        Created on {{ mealplan.created }} |
        Updated on {{ mealplan.updated }}
    </p>
    <form method="post" action="{% url 'meal_plans_rating' mealplan.id %}">
        {% csrf_token %}
        {{ rating_form.as_p }}
        <button class="button">Rate</button>
    </form>
    <p>Tags: {% for tag in recipe.tags.all %}{{ tag.name }} {% endfor %}</p>
    <p>{{ recipe.description | markdownify }}</p>
    <h2>Ingredients</h2>
    <table>
        <thead>
            <tr>
                <th colspan="2">Amount</th>
                <th>Food item</th>
            </tr>
        </thead>
        <tbody>
            {% for ingredient in recipe.ingredients.all %}
            <tr>
                <td>{{ ingredient.amount }}</td>
                <td>{{ ingredient.measure.name }}</td>
                <td>{{ ingredient.food.name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h2>Steps</h2>
    <ol>
        {% for step in recipe.steps.all %}
        <li>{{ step.directions }}</li>
        {% endfor %}
    </ol>
</main>
{% endblock content %}