{% extends 'base.html' %}


{% block content %}
<main class="recipe-form">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="control">
            <a href="{% url 'meal_plans_new' %}">Create</a>
        </div>
    </form>
</main>
<p></p>
<main class="recipe-grid">
    {% for mealplan in mealplan_list %}
    <div class="recipe-card">
        <h2 class="recipe-card-title">
            <a href="{% url 'meal_plans_detail' mealplan.pk %}">{{ mealplan.name }}</a>
        </h2>
        {% for recipe in mealplan.recipes.all %}
        <p>
            <a href="{% url 'recipe_detail' recipe.pk %}">{{ recipe.name }}</a>
        </p>
        {% endfor %}
        <p class="recipe-card-date">{{ MealPlan.updated }}</p>
    </div>
    {% empty %}
    <div>
        <h1>No meals planned yet.</h1>
        <p>
            Want to
            <a href="{% url 'meal_plans_new' %}">add</a>
            a new one?
        </p>
    </div>
    {% endfor %}
</main>
{% endblock content %}